#stage {
    all: initial;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    height: 100%;
    width: auto;
    display: block;
    unicode-bidi: isolate;
    padding: 8px;
    margin: 0;
    margin-inline: min(2.5vw, 16px);
    border: 1px solid black;
    overflow: auto;
}