<mat-toolbar>
    <mat-button-toggle-group hideMultipleSelectionIndicator name="basicDeco" multiple>
        <mat-button-toggle #buttonBold [checked]="selectionFormat.bold" (change)="formatText('bold')">B</mat-button-toggle>
        <mat-button-toggle #buttonItalic [checked]="selectionFormat.italic" (change)="formatText('italic')">I</mat-button-toggle>
        <mat-button-toggle #buttonUnderline [checked]="selectionFormat.underline" (change)="formatText('underline')">U</mat-button-toggle>
    </mat-button-toggle-group>
</mat-toolbar>
